@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
*,
::after,
::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --pr-white: hsl(0, 0%, 100%);
  --pr-light-slate: hsl(212, 45%, 89%);
  --pr-slate: hsl(216, 15%, 48%);
  --pr-dark-slate: hsl(218, 44%, 22%);
  --pr-font: outfit;
}

body{
  background: var(--pr-light-slate);
  font-family: var(--pr-font);
  text-align: center;
}

img{
  width: 100%;
}

h1{
  font-size: clamp(1rem, 1rem + 2vw, 1.38rem);
  line-height: 120%;
  font-weight: 700;
  color: var(--pr-dark-slate);
  margin-bottom: 0.6em;
}

p{
  font-size: clamp(0.6rem, 0.6rem + 2vw, 0.94rem);
  line-height: 140%;
  letter-spacing: 0.2px;
  font-weight: 400;
  color: var(--pr-slate);
}

.container{
  max-width: 375px;
  margin: 5em auto;
  background: var(--pr-white);
  padding: 1.1em;
  border-radius: 1em;
  box-shadow: 0 25px 25px rgba(0, 0, 0, 4.77%) ;
}

.container img{
  border-radius: 0.8em;
}

.content{
  padding: 1.6em;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
